@{
    ViewBag.Title = "Home Page";
    ViewBag.Inicio = "class = active";
}

<div class="jumbotron">
    <h1>PRESENTACION</h1>
    <p class="lead">Introduccion a la discapacidad y un poco de historia resumida</p>
    <p>La vida puede cambiar de rumbo en un instante, nadie está exento de sufrir un accidente por mínimo que este sea puede dejar secuelas para toda la vida.


 En un instante, en un parpadeo, un pequeño descuido y tu vida no será la misma. Las causas pueden ser varias como el simple hecho de dejar algo mal acomodado o fuera de lugar, las prisas, la pereza de hacer las cosas correctamente, la comodidad de no usar equipos de seguridad, la ignorancia o el exceso de confianza.</p>
    <p>Casa Sueca institucion que lleva mas de 20 años trabajando en Cochabamba incentivando y apoyando proyectos en favor de personas con discapacidad
CONSIPE es una institucion academica orientada a formacion primaria y secundaria de niños y jovenes con discapacidad
.............
.............</p>
</div>

